<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <title>Vue + React is awesome!</title>
    </head>
    <body>

        <!--  Vue's component will display here -->
        <div id="app">
          {{ message }}
        </div>

        <div id="app-2">
          <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
          </span>
        </div>

        <div id="app-3">
          <span v-if="seen">Now you see me</span>
        </div>

        <div id="app-4">
          <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
          </ol>
        </div>

        <div id="app-5">
          <p>{{ message }}</p>
          <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app-6">
          <p>{{ message }}</p>
          <input v-model="message">
        </div>

        <div id="app-7">
          <ol>
            <!--
              Now we provide each todo-item with the todo object
              it's representing, so that its content can be dynamic.
              We also need to provide each component with a "key",
              which will be explained later.
            -->
            <todo-item
              v-for="item in groceryList"
              v-bind:todo="item"
              v-bind:key="item.id">
            </todo-item>
          </ol>
        </div>

        <div id="computed">
            <p>Original message: "{{ message }}"</p>
            <p>Computed reversed message: "{{ reversedMessage }}"</p>
        </div>

        <div id="watch">{{ fullName }} {{ fullName2 }}</div>

        <div id="bindClass" v-bind:class="classObject"></div>
        <div id="bindStyle" v-bind:style="styleObject"></div>

        <div v-if="type === 'A'">
          A
        </div>
        <div v-else-if="type === 'B'">
          B
        </div>
        <div v-else-if="type === 'C'">
          C
        </div>
        <div v-else>
          Not A/B/C
        </div>

        <template v-if="loginType === 'username'">
          <label>Username</label>
          <input placeholder="Enter your username" key="username-input">
        </template>
        <template v-else>
          <label>Email</label>
          <input placeholder="Enter your email address" key="email-input">
        </template>

        <h1 v-show="ok">Hello!</h1>

        <ul id="list-example1">
          <li v-for="item in items">
            {{ item.message }}
          </li>
        </ul>

        <ul id="list-example2">
          <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
          </li>
        </ul>

        <div id="todo-list-example">
          <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
          >
          <ul>
            <li
              is="todo-item"
              v-for="(todo, index) in todos"
              v-bind:key="todo.id"
              v-bind:title="todo.title"
              v-on:remove="todos.splice(index, 1)"
            ></li>
          </ul>
        </div>

        <div id="event-example1">
          <button v-on:click="counter += 1">Add 1</button>
          <p>The button above has been clicked {{ counter }} times.</p>
        </div>

        <div id="event-example2">
          <!-- `greet` is the name of a method defined below -->
          <button v-on:click="greet">Greet</button>
        </div>

        <div id="event-example3">
          <button v-on:click="say('hi')">Say hi</button>
          <button v-on:click="say('what')">Say what</button>
        </div>

        <div id="form-example1">
          <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
          <label for="jack">Jack</label>
          <input type="checkbox" id="john" value="John" v-model="checkedNames">
          <label for="john">John</label>
          <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
          <label for="mike">Mike</label>
          <br>
          <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div id="form-example2">
            <select v-model="selected">
              <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>

        <div id="example">
          <my-component></my-component>
        </div>

        <div id="example-2">
          <simple-counter></simple-counter>
          <simple-counter></simple-counter>
          <simple-counter></simple-counter>
          <child message="hello!"></child>
          <div id="validation"></div>
        </div>

        <div id="counter-event-example">
          <p>{{ total }}</p>
          <button-counter v-on:increment="incrementTotal"></button-counter>
          <button-counter v-on:increment="incrementTotal"></button-counter>
        </div>

        <div id="test1"> {{ message }} </h1></div>
        <!--  Vue's implement is come from here -->
        <script src="vue.js"></script>

        <!--  React's component will display here -->
        <div id="react"></div>

        <!--  React's implement is come from here -->
        <script type="text/babel" src="react.js"></script>

    </body>
</html>
